<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     th:fragment="navbar">

    <div class="container">

        <a class="navbar-brand fw-bold"
           href="/dashboard">

            🚗 Smart Parking

        </a>

        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="navbar">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link"
                       href="/dashboard">

                        Dashboard

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="/user/book-slot">

                        Book Slot

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="/user/bookings">

                        My Bookings

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="/logout">

                        Logout

                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>

</body>

</html>